:root{
    --bg_alert: #ff3c66;
    --b_alert: 3px solid #d8002f;
    --t_alert: #fff;
}
.usuario_no_contrado{
    background-color: var(--bg_alert);
    border: var(--b_alert);
    width: 100%;
    padding: 5px 0;
    text-align: center;
    color: var(--t_alert);
}
.campos_vacios{
    background-color: var(--bg_alert);
    border: var(--b_alert);
    width: 100%;
    padding: 5px 0;
    text-align: center;
    color: var(--t_alert);
}