<div class="sombra"></div>
<header class="header">
    <nav class="navBar">
        <picture class="contenedor__logo">
            <img src="../../img/rutaEducativaLogo.png" alt="">
        </picture>
        <section class="nav">
            <a href="../inicio/index.php" class="option__nav">Inicio</a>
            <a href="../colegios/index.php" class="option__nav">Colegios</a>
            <a href="../contacto/index.php" class="option__nav">Contacto</a>
            <a href="../../index.html" class="option__nav">Cerrar sesión</a>
        </section>
    </nav>
</header>